---
import { format, parse } from "date-fns";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { downloadPostsAsMdx } from "../../lib/notion-download";

interface Props {
  post: CollectionEntry<"blog">;
}

export async function getStaticPaths() {
  await downloadPostsAsMdx("blog");
  const posts = await getCollection("blog");

  return posts.map((post) => ({
    params: {
      slug: post.slug,
    },
    props: {
      post: post,
    },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout {...post.data as any} className="prose mx-auto break-words">
  <h1>{post.data.title}</h1>
  <span class="not-prose">
    <h2 class="mb-8 text-lg font-semibold text-gray-400">
      {
        format(
          parse(post.data.published, "yyyy-MM-dd", new Date()),
          "MMMM dd, yyyy"
        )
      }
    </h2>
  </span>
  <Content />
  <hr class="border border-gray-300 mt-8" />
  <p class="text-gray-400 mt-4">Thanks for reading :)</p>
  <p class="text-gray-400">Last updated {format(post.data.lastEditedTime, "MMMM dd, yyyy")}</p>
</Layout>
