---
import { format, parse } from "date-fns";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { getPageProperties } from "../../lib/notion-cms-page";
import { marked } from "marked";
import { getBlock } from "src/lib/notion-cms";
import { parseBlocks } from "src/lib/notion-parse";

const pageId = import.meta.env.NOTION_PAGE_ID_BLOG;

const properties = await getPageProperties(pageId);
const posts = (await getCollection("blog")).sort((a, b) =>
  a.data.published > b.data.published ? -1 : 1,
);
const pageContent = marked.parse(parseBlocks(await getBlock(pageId)));
---

<Layout {...properties} className="prose mx-auto">
  <h1>Blog</h1>
  <Fragment set:html={pageContent} />
  <div class="mt-3 flex flex-col items-start gap-3">
    {
      posts.map((post) => (
        <div class="flex w-full flex-wrap justify-between">
          <a
            class="w-full text-lg underline md:w-auto"
            href={`/blog/${post.id}`}
          >
            {post.data.title}
          </a>
          <div
            class="text-lg text-gray-400"
            title={
              "Last edited " + format(post.data.lastEditedTime, "yyyy-MM-dd")
            }
          >
            {format(
              parse(post.data.published, "yyyy-MM-dd", new Date()),
              "yyyy-MM-dd",
            )}
          </div>
        </div>
      ))
    }
  </div>
</Layout>
