---
import { format, parse } from "date-fns";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { getPageProperties, parsePageUrl } from "../../lib/notion-cms-page";

const PAGE_ID = parsePageUrl(
  "https://www.notion.so/kungpaogao/Blog-f3362e0d348e4bdeaea895b36c7801f0"
);

const properties = await getPageProperties(PAGE_ID);
const posts = (await getCollection("blog")).sort((a, b) =>
  a.data.published > b.data.published ? -1 : 1
);
---

<Layout {...properties} className="prose mx-auto">
  <h1>Blog</h1>
  <div class="mt-3 flex flex-col items-start gap-3">
    {
      posts.map((post) => (
        <div class="flex w-full flex-wrap justify-between">
          <a
            class="w-full text-lg underline md:w-auto"
            href={`/blog/${post.slug}`}
          >
            {post.data.title}
          </a>
          <div class="text-lg text-gray-400">
            {format(
              parse(post.data.published, "yyyy-MM-dd", new Date()),
              "yyyy.MM.dd"
            )}
          </div>
        </div>
      ))
    }
  </div>
</Layout>
