.todo-item {
  list-style: none !important;
}

.task-list-item {
  list-style: none !important;
}

.todo-done {
  text-decoration: line-through;
  color: theme("colors.slate.500") !important;
}

input[type="checkbox"]:disabled {
  margin-left: -1rem;
  margin-right: 0.25rem;
}

#nav-menu-state:target ~ #nav-menu-container #nav-menu-open {
  display: none;
}

#nav-menu-state:target ~ #nav-menu-container #nav-menu-close {
  display: block;
}
