---
import Layout, { Props as LayoutProps } from "../layouts/Layout.astro";

const layoutProps: LayoutProps = {
  title: "404",
  description: "404 Not found",
  pathname: "/404",
};
---

<Layout {layoutProps}>
  <div>oops, page not found :(</div>
</Layout>
