---
import { Props } from "../components/Head.astro";
import Layout from "../layouts/Layout.astro";

const headProps: Props = {
  title: "404",
  description: "404 Not found",
  path: "404",
};
---

<Layout {...headProps}>
  <div>oops, page not found :(</div>
</Layout>
