---
import type { Props } from "../components/Head.astro";
import Layout from "../layouts/Layout.astro";

const headProps: Props = {
  title: "404",
  description: "404 Not found",
  path: "404",
};
---

<Layout {...headProps} className="max-w-prose mx-auto">
  <h1>404</h1>
  <p>page not found :(</p>
  <p class="pt-2">
    <a
      href="/"
      class="underline bg-white/70 backdrop-blur hover:bg-white/100 px-2 py-1 rounded-md transition"
      >go home →</a
    >
  </p>
</Layout>
