---
import type { Props } from "../components/Head.astro";
import { BottomNavigation } from "../components/BottomNavigation";
import Layout from "../layouts/Layout.astro";
import { generateImage } from "../lib/satori";

const layoutProps: Props = {
  title: "Design",
  description: "This is a place where I test out components.",
  path: "/design",
};

const img = await generateImage("高 is my last name");
const gao = await generateImage("高", 24, 24);
---

<Layout {...layoutProps}>
  <p>a nice place to test out designs :)</p>
  <Fragment set:html={img} />
  <Fragment set:html={gao} />
  <BottomNavigation className="absolute bottom-0 left-0 right-0" />
</Layout>
