---
import Layout from "../layouts/Layout.astro";
import { getBlock } from "../lib/notion-cms";
import { parsePageUrl, getPageProperties } from "../lib/notion-cms-page";
import { parseBlocks } from "../lib/notion-parse";
import { marked } from "../lib/marked";

const PAGE_ID = parsePageUrl(
  "https://www.notion.so/kungpaogao/Home-b509f95388e84863a95d103eceab812e"
);

const properties = await getPageProperties(PAGE_ID);
const content = marked.parse(parseBlocks(await getBlock(PAGE_ID)));
---

<Layout {...properties}>
  <div class="prose prose-slate">
    <Fragment set:html={content} />
  </div>
</Layout>
