---
import { getBlock, queryNotionDatabase } from "src/lib/notion-cms";
import Layout from "../layouts/Layout.astro";
import { getPageProperties } from "../lib/notion-cms-page";
import { marked } from "marked";
import { parseBlocks } from "src/lib/notion-parse";
import ReadingEntry from "@components/ReadingEntry.astro";

const pageId = import.meta.env.NOTION_PAGE_ID_READ;

const dbPages2024 = await queryNotionDatabase({
  database_id: import.meta.env.NOTION_DB_ID_KNOWLEDGE_2024,
  sorts: [{ property: "Date", direction: "descending" }],
});

const dbPages2025 = await queryNotionDatabase({
  database_id: import.meta.env.NOTION_DB_ID_KNOWLEDGE_2025,
  sorts: [{ property: "Date", direction: "descending" }],
});

const dbPages2026 = await queryNotionDatabase({
  database_id: import.meta.env.NOTION_DB_ID_KNOWLEDGE_2026,
  sorts: [{ property: "Date", direction: "descending" }],
});

const pageProperties = await getPageProperties(pageId);
const pageContent = marked.parse(parseBlocks(await getBlock(pageId)));
---

<Layout {...pageProperties} className="prose mx-auto">
  <Fragment set:html={pageContent} />
  <h2 class="sticky top-13 bg-stone-100 pb-1">2026</h2>
  <div class="mt-3 flex flex-col items-start gap-3">
    {dbPages2026.map((page) => <ReadingEntry page={page} />)}
  </div>
  <h2 class="sticky top-13 bg-stone-100 pb-1">2025</h2>
  <div class="mt-3 flex flex-col items-start gap-3">
    {dbPages2025.map((page) => <ReadingEntry page={page} />)}
  </div>
  <h2 class="sticky top-13 bg-stone-100 pb-1">2024</h2>
  <div class="mt-3 flex flex-col items-start gap-3">
    {dbPages2024.map((page) => <ReadingEntry page={page} />)}
  </div>
</Layout>
