---
import { getBlock, queryNotionDatabase } from "src/lib/notion-cms";
import Layout from "../layouts/Layout.astro";
import { parsePageUrl } from "../lib/notion-cms-page";
import { getPageProperties } from "../lib/notion-cms-page";
import { marked } from "marked";
import { parseBlocks } from "src/lib/notion-parse";
import ReadingEntry from "@components/ReadingEntry.astro";

const databaseId2024 = parsePageUrl(
  "https://www.notion.so/kungpaogao/0078e2525cd04d6584cb8baf87fc1945"
);
const databaseId2025 = parsePageUrl(
  "https://www.notion.so/kungpaogao/16e3c61bf68d80769930c0f282d5a309"
);
const pageId = parsePageUrl(
  "https://www.notion.so/kungpaogao/Reading-ccd59d90822d402b8cc69d482bbd55c5"
);

const dbPages2024 = await queryNotionDatabase({
  database_id: databaseId2024,
});
const dbPages2025 = await queryNotionDatabase({
  database_id: databaseId2025,
});

const pageProperties = await getPageProperties(pageId);
const pageContent = marked.parse(parseBlocks(await getBlock(pageId)));
---

<Layout {...pageProperties} className="prose mx-auto">
  <Fragment set:html={pageContent} />
  <h2>2025</h2>
  <div class="mt-3 flex flex-col items-start gap-3">
    {dbPages2025.map((page) => <ReadingEntry page={page} />)}
  </div>
  <h2>2024</h2>
  <div class="mt-3 flex flex-col items-start gap-3">
    {dbPages2024.map((page) => <ReadingEntry page={page} />)}
  </div>
</Layout>
