---
import Layout from "../../layouts/Layout.astro";
// import { getAssetPath, Projects } from "../../lib/notion-cms";
import { marked } from "marked";
import { parseBlocks } from "../../lib/notion-parse";
import { getProjectPaths } from "../../lib/notion-cms";

export async function getStaticPaths() {
  const params = await getProjectPaths();

  return params.map(({ params, props }) => ({
    params,
    props: {
      title: props.title,
      post: marked.parse(parseBlocks(props.post)),
    },
  }));
}

const { post, title } = Astro.props;
---

<Layout title={title}>
  <div class="prose">
    <Fragment set:html={post} />
  </div>
</Layout>
