---
import { NotionBlocksMarkdownParser } from "@notion-stuff/blocks-markdown-parser";
import Layout from "../../layouts/Layout.astro";
import { richTextAsPlainText } from "@jitl/notion-api";
import { getAssetPath, Projects } from "../../lib/notion-cms";
import { marked } from "marked";
import { parse, parsePage } from "../../lib/notion-parse";

export async function getStaticPaths() {
  const notionMdParser = NotionBlocksMarkdownParser.getInstance();
  const params = [];
  for await (const project of Projects.query({
    sorts: [Projects.sort.published.descending],
  })) {
    // getAssetPath()

    await Projects.downloadAssets(project);
    params.push({
      params: {
        slug: project.frontmatter.slug,
      },
      props: {
        title: richTextAsPlainText(project.frontmatter.title),
        post: marked.parse(parsePage(project.content)),
      },
    });
  }

  return params;
}

const { post, title } = Astro.props;
---

<Layout title={title}>
  <div class="prose">
    <Fragment set:html={post} />
  </div>
</Layout>
