---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { getPageProperties, parsePageUrl } from "../../lib/notion-cms-page";

const PAGE_ID = parsePageUrl(
  "https://www.notion.so/kungpaogao/Projects-043bbef2e61041a583d68ce2551cee0f"
);

const properties = await getPageProperties(PAGE_ID);
const projects = (await getCollection("projects")).sort((a, b) =>
  a.data.published > b.data.published ? -1 : 1
);
---

<Layout {...properties} className="prose mx-auto">
  <h1>Projects</h1>
  <div class="mt-3 flex flex-col items-start gap-3">
    {
      projects.map((project) => (
        <div>
          <a class="text-lg underline" href={`/projects/${project.slug}`}>
            {project.data.title}
          </a>
        </div>
      ))
    }
  </div>
</Layout>
