---
import Head from "../components/Head.astro";
import Navigation from "../components/Navigation";
import "../styles/fonts.css";

export interface Props {
  title: string;
  description: string;
  pathname: string;
  imageUrl?: string;
}

const { title, description, pathname, imageUrl } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Head
      title={title}
      description={description}
      pathname={pathname}
      imageUrl={imageUrl}
    />
  </head>

  <body>
    <div class="mx-auto max-w-3xl">
      <Navigation client:idle />
      <main class="px-3 mt-7 break-words">
        <slot />
      </main>
    </div>
  </body>
</html>
