---
import Head, { Props } from "../components/Head.astro";
import Navigation from "../components/Navigation";
import "../styles/fonts.css";

const { title, description, path, imageUrl } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Head
      title={title}
      description={description}
      path={path}
      imageUrl={imageUrl}
    />
  </head>

  <body>
    <div class="mx-auto max-w-3xl">
      <Navigation client:idle />
      <main class="px-3 py-7 break-words">
        <slot />
      </main>
    </div>
  </body>
</html>
