---
import type { Props } from "../components/Head.astro";
import Head from "../components/Head.astro";
import Navigation from "../components/Navigation";
import "../styles/global.css";
import "../styles/fonts.css";

const { title, description, path, imageUrl } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Head
      title={title}
      description={description}
      path={path}
      imageUrl={imageUrl}
    />
  </head>

  <body>
    <div>
      <Navigation
        client:idle
        className="sticky top-0 w-full"
        contentClassName="mx-auto max-w-3xl md:px-3 px-5"
      />
      <main class="mx-auto max-w-3xl md:px-3 px-5 py-7 break-words">
        <slot />
      </main>
    </div>
  </body>
</html>
